*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    box-sizing: border-box;
    background-color: aqua;
}

header{
    width: 100%;
}

header h1{
    font-weight: bold;
    text-align: center;
}

.main{
    width: 50%;
    display: inline-block;
}

.main .photo{
    display: inline-flex;
    width: 25%;
}
