*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    box-sizing: border-box;
    background-color: aqua;
}
.navbar{
    text-align: center;
    width: 100%;
    position: relative;
}
.navbar p{
    float: left;
    align-content: center;
    font-size: 36px;
    margin: 20px;
    text-align: center;
}
main{
    width: 100%;
    margin: 10px;
    display: flex;
}

main .cont{
    width: 50%;
    display: inline-block;
}
section{
    width: 100%;
    margin: 10px;
    display: flex;
}
section .web{
    width: 50%;
    display: inline-block;
}
